@model ClientInformationManager.Models.Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prov_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prov_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zip_postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip_postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.country_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.country_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.first_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.address_id }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.person_id})
</p>
